server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    druid:
      driver-class-name: ${platform.datasource.driver-class-name}
      url: jdbc:mysql://${platform.datasource.host}:${platform.datasource.port}/${platform.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: ${platform.datasource.username}
      password: ${platform.datasource.password}

ml:
  recommend-url: http://localhost:5000/recommend

logging:
  level:
    com:
      sky:
        mapper: debug
        service: info
        controller: info

mybatis:
  #mapper配置文件
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: team8.ad.project.entity.entity
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true
