<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team8.ad.project.mapper.question.QuestionMapper">

    <select id="viewQuestion" resultType="team8.ad.project.entity.dto.QsInform">
        SELECT id, image, question
        FROM qa
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (question LIKE CONCAT('%', #{keyword}, '%')
                OR hint LIKE CONCAT('%', #{keyword}, '%')
                OR grade LIKE CONCAT('%', #{keyword}, '%')
                OR subject LIKE CONCAT('%', #{keyword}, '%')
                OR topic LIKE CONCAT('%', #{keyword}, '%')
                OR category LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="questionName != null and questionName != ''">
            AND question LIKE CONCAT('%', #{questionName}, '%')
        </if>
        <if test="grade != null and grade != ''">
            AND grade LIKE CONCAT('%', #{grade}, '%')
        </if>
        <if test="subject != null and subject != ''">
            AND subject LIKE CONCAT('%', #{subject}, '%')
        </if>
        <if test="topic != null and topic != ''">
            AND topic LIKE CONCAT('%', #{topic}, '%')
        </if>
        <if test="category != null and category != ''">
            AND category LIKE CONCAT('%', #{category}, '%')
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM qa WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (question LIKE CONCAT('%', #{keyword}, '%')
                OR hint LIKE CONCAT('%', #{keyword}, '%')
                OR grade LIKE CONCAT('%', #{keyword}, '%')
                OR subject LIKE CONCAT('%', #{keyword}, '%')
                OR topic LIKE CONCAT('%', #{keyword}, '%')
                OR category LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="questionName != null and questionName != ''">
            AND question LIKE CONCAT('%', #{questionName}, '%')
        </if>
        <if test="grade != null and grade != ''">
            AND grade LIKE CONCAT('%', #{grade}, '%')
        </if>
        <if test="subject != null and subject != ''">
            AND subject LIKE CONCAT('%', #{subject}, '%')
        </if>
        <if test="topic != null and topic != ''">
            AND topic LIKE CONCAT('%', #{topic}, '%')
        </if>
        <if test="category != null and category != ''">
            AND category LIKE CONCAT('%', #{category}, '%')
        </if>
    </select>

</mapper>